# Python Analysis Homework

### Required packages

In [1]:
import numpy as np
import pandas as pd

### 1. Read data

In [13]:
fires = pd.read_csv("forest-fires.csv")

In [4]:
fires.head(3)

   X  Y month  day  temp  wind  rain  area
0  7  5   mar  fri   8.2   6.7   0.0   NaN
1  7  4   oct  tue  18.0   0.9   0.0   NaN
2  7  4   oct  sat  14.6   1.3   0.0   NaN

In [5]:
fires.describe()

                X           Y        temp        wind        rain         area
count  517.000000  517.000000  515.000000  516.000000  517.000000   379.000000
mean     4.669246    4.299807   18.904272    4.019380    0.021663    17.525198
std      2.313778    1.229900    5.801947    1.792934    0.295959    73.818628
min      1.000000    2.000000    2.200000    0.400000    0.000000     0.000000
25%      3.000000    4.000000   15.550000    2.700000    0.000000     0.000000
50%      4.000000    4.000000   19.300000    4.000000    0.000000     2.570000
75%      7.000000    5.000000   22.800000    4.900000    0.000000     9.985000
max      9.000000    9.000000   33.300000    9.400000    6.400000  1090.840000

In [6]:
fires.shape

(517, 8)

### 2. Missing data

#### Table of missing values

In [8]:
fires.isnull().sum().reset_index()

   index    0
0      X    0
1      Y    0
2  month    0
3    day    0
4   temp    2
5   wind    1
6   rain    0
7   area  138

The variables `temp`, `wind`, and `area` have missing values.

In [10]:
print(
    "In total, there are",
    fires.isnull().sum().sum(),
    "missing values."
)

In total, there are 141 missing values.

#### Replace missing values

In [14]:
fires = fires.fillna({
    "area": 0
})

In [18]:
print(
    "Now, there are",
    fires.isnull().sum().sum(),
    "missing values remaining in the data set."
)

Now, there are 3 missing values remaining in the data set.

#### Remove rows with NA values

In [27]:
fires = fires.dropna(how = "any", axis = 0)

In [28]:
print(
    "Now, there are",
    fires.isnull().sum().sum(),
    "missing values remaining in the data set."
)

Now, there are 0 missing values remaining in the data set.